/.idea/.idea.DocumentHierarchyApp/.idea/.gitignore
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.AssemblyInfo.cs
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.AssemblyInfoInputs.cache
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.assets.cache
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.csproj.CoreCompileInputs.cache
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.csproj.FileListAbsolute.txt
/DocumentHierarchyApp/obj/DocumentHierarchyApp.csproj.nuget.dgspec.json
/DocumentHierarchyApp/obj/DocumentHierarchyApp.csproj.nuget.g.props
/DocumentHierarchyApp/obj/DocumentHierarchyApp.csproj.nuget.g.targets
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.csprojAssemblyReference.cache
/DocumentHierarchyApp/bin/Debug/netcoreapp3.1/DocumentHierarchyApp.deps.json
/DocumentHierarchyApp/bin/Debug/netcoreapp3.1/DocumentHierarchyApp.dll
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.dll
/DocumentHierarchyApp/bin/Debug/netcoreapp3.1/DocumentHierarchyApp.exe
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.exe
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.genruntimeconfig.cache
/DocumentHierarchyApp/bin/Debug/netcoreapp3.1/DocumentHierarchyApp.pdb
/DocumentHierarchyApp/obj/Debug/netcoreapp3.1/DocumentHierarchyApp.pdb
/DocumentHierarchyApp/bin/Debug/netcoreapp3.1/DocumentHierarchyApp.runtimeconfig.dev.json
/DocumentHierarchyApp/bin/Debug/netcoreapp3.1/DocumentHierarchyApp.runtimeconfig.json
/.idea/.idea.DocumentHierarchyApp/.idea/misc.xml
/.idea/.idea.DocumentHierarchyApp/.idea/encodings.xml
/.idea/.idea.DocumentHierarchyApp/.idea/indexLayout.xml
/.idea/.idea.DocumentHierarchyApp/riderModule.iml
/DocumentHierarchyApp/obj/project.assets.json
/DocumentHierarchyApp/obj/project.nuget.cache
/DocumentHierarchyApp/obj/project.packagespec.json
